<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="androidapp.meryam.bookingapplications4project">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookingApplicationS4Project">
        <activity android:name=".HotelierProfile"></activity>
        <activity android:name=".ShowReservation" />
        <activity android:name=".ProfileClientActivity" />

        <activity android:name=".ViewHotelActivity" />
        <activity
            android:name=".HomeActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".AddReservation" />
        <activity android:name=".AddNewHotel" />
        <activity android:name=".RegisterActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login_activity" />
        <activity android:name=".MainActivity"/>

    </application>

</manifest>